@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 900px;
  margin: 40px auto;
}

h2 {
  padding-bottom: 20px;
}

.city-search {
  padding-top: 20px;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}

.daily-weather {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  width: 80px;
  border-radius: 10px;
  padding: 10px;
}

.temperature {
  color: #36454F;
  font-size: 1.5rem;
  font-weight: bold;
}

.measurement {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #36454F;
}

.description {
  font-size: 0.7rem;
  color: #36454F;
  font-weight: bold;
}

label {
  padding-right: 3px;
}

input {
  cursor: pointer;
}

button {
  background: #FF4742;
  border: 1px solid #f1356d;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin-top: 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 220px;
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #D8000C;
  background-color: #FFBABA;
}
